<section class="star_layer popup_layer" style="display: none;">
    <div class="popup_container">
        <header>
            <img src="img/logo.png" alt="logo_img">
            <button class="icon_button button " type="button" onclick="ShowStarPopup()"><svg aria-hidden="true"
                    id="icon_times" xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 320 512">
                    <path
                        d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z">
                    </path>
                    <title>닫기</title>
                </svg></button>
        </header>

        <div class="popup_cont">
            <h2 class="popup_text">이 문제의 난이도를 선택해주세요 ( &gt; _ &lt; )</h2>
            <div class="star-box mt20">
                <span class="star star_left"></span>
                <span class="star star_right"></span>

                <span class="star star_left"></span>
                <span class="star star_right"></span>

                <span class="star star_left"></span>
                <span class="star star_right"></span>

                <span class="star star_left"></span>
                <span class="star star_right"></span>

                <span class="star star_left"></span>
                <span class="star star_right"></span>
            </div>
            <button class="atom_button button signin mt20" onclick="starinput(); ShowStarPopup()" type="button">
                확인
            </button>
        </div>
</section>